@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ChatApplication</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/iconfont.css">
    <link rel="stylesheet" href="~/assets/css/isotope.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!--For Plugins external css-->
    <link rel="stylesheet" href="~/assets/css/plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
</head>
<body>
<partial name="_NavMenuPartial" />
<div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ChatApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
@RenderSection("Scripts", required: false)
</body>
</html>
